

/* 博主昵称颜色 */
.author-info__name {
    color: #ff7242;
}

/* 页脚透明 */

#footer {
    background: transparent !important;
}

/*Lete个人博客颜色修改*/

#page-header #site_title {
    color: #FFFFFF;
    /* color: black; */
}
